.bg_logo_konten {
	background: 
		linear-gradient(rgba(119,121,112,0.9), rgba(119,121,112,0.9)),
		url("../img/pegawai.jpg") no-repeat;
	color: #FFF;
	background-size: cover;
}
.jpg_row {
	height: 100vh;
}
.logo {
	background: url("../img/logo3.png")no-repeat;
	width: 217px;
	height: 224px;
	top: 290px;
	right: 120px;
	position: relative;
}
.grs_bwh {
	border-bottom: 1.5px solid #FFF;
	top : 251px;
	right: 108px;
	position: relative;
	width: 241px;
	float: right;
}
.title {
	position: relative;
	top: 280px;
	left: 127px;
	font-weight: 300;
	font-size: 32px;
	text-align: right;
}
.subtitle{
	position: relative;
	top: 252px;
	left: 127px;
	font-weight: bold;
	font-size: 32px
}
.login_box {
	position:relative;
	top : 167px;
	left: 199px;
}
.some_text {
	width: 67%;
	color: #999;
	font-size: 15px;
	margin-bottom: 10%;
}
.rounded_input {
	border-radius: 30px;
	padding: 2% 2% 2% 6%;
	border-color: #979797;
	color: #4f4f4f;
	font-size: 18px;
}
.rounded_btn_login {
	width: 100px;
	border-radius: 30px;
}
.Login_pegawai{
	position: center;
	top: 1px;
	left: 127px;
	font-weight: bold;
	font-size: 32px;
	color : black;
}
.Regis{
	position: center;
	top: 230px;
	left: 100px;
	font-weight: bold;
	font-size: 32px;
	color : black;
}